@model IEnumerable<DAO.Models.Candidature?>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Dashboard";
}

<h1>Liste de vos candidatures</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Créer une nouvelle candidature</a>
</p>
<div class="row w-100 m-20 justify-content-center">
@foreach (var item in Model)
{
    <div class="card" style="width: 18rem;">
        <div class="card-body bg-success">
            <label asp-for="@item.PostName" class="control-label">Poste : </label>
            <h5 class="card-title fw-bold">@Html.DisplayFor(modelItem => item.PostName)</h5>
            <label asp-for="@item.Status" class="control-label">Status de la candidature : </label>
            <p class="card-text text-white">@Html.DisplayFor(modelItem => item.Status)</p>
            <label asp-for="@item.ModificationDate" class="control-label">Dernière modification : </label>
            <p class="card-text text-white">@Html.DisplayFor(modelItem => item.ModificationDate)</p>
            <label asp-for="@item.Comment" class="control-label">Commentaire : </label>
            <p class="card-text text-white">@Html.DisplayFor(modelItem => item.Comment)</p>
            <a asp-action="Edit" asp-route-id="@item.Id" class="bg-info text-white btn">Edit</a>
            <a asp-action="Delete" asp-route-id="@item.Id" class="bg-danger text-white btn">Delete</a>
        </div>
    </div>

}
</div>
